<div class="flex items-center space-x-2">
    <!-- <input type="text" #Cassistant (keyup)="senddata(Cassistant.value)"> -->

    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <!-- Form inputs -->
    <div  class="flex justify-between">
        <input class="p-2 border border-gray-300 rounded" type="text" placeholder="Api Key" name="apiKey" ngModel>
        <input class="p-2 border border-gray-300 rounded" type="text" placeholder="Assistant Id" name="assistantId" type="text"  ngModel>
        
        <button class="bg-blue-500 w-1/4 mr-3 p-2 rounded-md text-gray-50" type="submit">Submit</button>
    </div>
    </form>
 </div>
